footer.ui.secondary.segment {
  bottom: 0;
  margin-top: 1rem;
}

footer table {
  margin: 0 auto;
}

td {
  padding: 1rem;
  padding-left: 1rem;
  text-align: left;
  font-weight: bold;
}

td.content {
  font-weight: normal;
}

footer div.copyright{
  margin-top:15px;
  font-size: 0.8rem;
}
