nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  ul {
    padding: 0;
    justify-content: center;
    align-self: center;
    list-style: none;
    display: flex;
    @media screen and (max-width: 820px) {
      margin-bottom: 0;
    }
  }
}
