#map {
  width: 100%;
  // Set map height here for adjust dimensions to your boundaries
  height: 55vh;
}

.activateDesktop {
  position: relative;
  z-index: 99999;

  .buttonText {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    font-family: TamediaChart, Helvetica, Arial, sans-serif;
    font-family: var(--chart-font-stack);
    letter-spacing: 0.4px;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 5px;
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 50px;
    right: 10px;
    // transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
  }

  .active {
    background-color: red;
    color: white;
  }
}

@media only screen and (max-width: 599px) {
  .activateDesktop {
    display: none;
  }

  .mapboxgl-control-container .mapActivator {
    display: block;
  }
}
@media only screen and (min-width: 599px) {
  .activateDesktop {
    display: block;
  }

  .mapboxgl-control-container .mapActivator {
    display: none;
  }
}
